<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Blawg of Hendrik Mans</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <nav role="main">
        <a href="/">hmans is blogging, yo</a>
      </nav>
      
      <main role="main">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
